<a href="https://colab.research.google.com/github/opsing1234/colab/blob/main/Lession2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2장 예제

In [1]:
a = 100
b = 200
c =  a + b

print(a, '+', b, '=', c)

100 + 200 = 300

In [2]:
num1 = 500
num2 = 200
result = num1 - num2

print(num1, '-', num2, '=', result)

500 - 200 = 300

In [3]:
num1 = 8
num2 = 17
result =  num1 * num2

print(num1, 'x', num2, '=', result)

8 x 17 = 136

In [4]:
num1 = 8
num2 = 17
result = num1 / num2

print(num1, '/', num2, '=', result)

8 / 17 = 0.47058823529411764

나머지를 구하는 연산자 : %

In [5]:
num1, num2 = 4, 2
result = num1 % num2

print(num1, '%', num2, '=', result)

4 % 2 = 0

몫을 구하는 연산자 : //

In [6]:
num1, num2 = 4, 2
result = num1 // num2

print(num1, '//', num2, '=', result)

4 // 2 = 2

문자열 연산자 : + , *

In [7]:
str1 = '안산공고'
str2 = '컴퓨터과'
result = str1 + str2

print(str1, '+', str2, '=', result)

안산공고 + 컴퓨터과 = 안산공고컴퓨터과

In [8]:
str1 = '안산공고'
result = str1 * 3
print(str1, '*', 3, '=', result)

안산공고 * 3 = 안산공고안산공고안산공고

2장 형성평가 1번

In [9]:
num1, num2 = 100, 200

result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2

print(num1, '+', num2, '=', result1)
print(num1, '-', num2, '=', result2)
print(num1, '*', num2, '=', result3)
print(num1, '/', num2, '=', result4)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

input 함수 사용

In [10]:
num1 = int(input('숫자1 ==> '))
num2 = int(input('숫자2 ==> '))

result = num1 + num2
print(result)

숫자1 ==> 100
숫자2 ==> 200
300

In [14]:
name = input('이름 ==> ')
tel = input('전화번호 ==> ')
print('제 이름은 ', name, '이고,', '연락처는 ', tel, '입니다.')

이름 ==> 난처음
전화번호 ==> 010-1234-1234
제 이름은  난처음 이고, 연락처는  010-1234-1234 입니다.

2장 형성평가 2번

In [16]:
print('## 택배를 보내기 위한 정보를 입력하세요. ##')
name = input('받는 사람 : ')
addr = input('주소 : ')
gram = int(input('무게(g) : '))

print("받는 사람 ==> ", name)
print('주소 ==> ', addr)
print('배송비 ==> ', gram * 5, '원')

## 택배를 보내기 위한 정보를 입력하세요. ##
받는 사람 : 김난생
주소 : 서울 영등포구 여의도동 88
무게(g) : 721
받는 사람 ==>  김난생
주소 ==>  서울 영등포구 여의도동 88
배송비 ==>  3605 원

2장 형성평가 3번

제곱 연산자 : **

In [18]:
num1 = int(input('숫자1 ==> '))
num2 = int(input('숫자1 ==> '))

result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2
result5 = num1 % num2
result6 = num1 ** num2

print(num1, '+', num2, '=', result1)
print(num1, '-', num2, '=', result2)
print(num1, '*', num2, '=', result3)
print(num1, '/', num2, '=', result4)
print(num1, '%', num2, '=', result5)
print(num1, '**', num2, '=', result6)

숫자1 ==> 100
숫자1 ==> 10
100 + 10 = 110
100 - 10 = 90
100 * 10 = 1000
100 / 10 = 10.0
100 % 10 = 0
100 ** 10 = 100000000000000000000

거북이 예제 1번

In [36]:
#!pip3 install ColabTurtle
import ColabTurtle.Turtle as turtle
turtle.initializeTurtle()

turtle.forward(50)
turtle.left(90)
turtle.forward(50)
turtle.left(90)
turtle.forward(50)
turtle.left(90)
turtle.forward(50)