<a href="https://colab.research.google.com/github/opsing1234/colab/blob/main/Lession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6장 예제

In [2]:
for i in range(3) :
  print('난생처음 파이썬은 재미있습니다',i)

난생처음 파이썬은 재미있습니다 0
난생처음 파이썬은 재미있습니다 1
난생처음 파이썬은 재미있습니다 2

In [3]:
List = ['짜장면', '김밥', '라면']
for i in List :
  print(i)

짜장면
김밥
라면

In [4]:
for i in range(2, 8, 2) :
  print(i)

2
4
6

sum = 1 + 3 + 5 + 7 + 9...... + 99

In [10]:
sum = 0
for i in range(1, 100, 2):
  sum += i
  print(sum)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

sum = 1 - 3 + 5 - 7 + 9 - 11...... + 99

In [12]:
num = 1
sum = 0
for i  in range(1, 100, 2):
  if num == 1 :
    sum += i
    num = num * - 1
  else :
    sum -= i
    num = num * - 1
print(sum)

-50

형성평가 1번

In [14]:
num1 = 1
num2 = 5
for i in range(1,num2 + 1,1) :
 num1 *= i
print('A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 : ', num1)

A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 :  120

In [16]:
hap = 0

for i in range(1, 11, 1) :
  hap += i
print('1에서 10까지의 합 : ', hap)

1에서 10까지의 합 :  55

In [17]:
i, hap = 0, 0

for i in range(1001, 2001, 2) :
  hap += i
print('1000에서 2000까지의 홀수의 합 : ', hap)

1000에서 2000까지의 홀수의 합 :  750000

In [23]:
for i in range(3) :
  for j in range(2) :
    print('난생처음은 쉽습니다 (i값 : ', i, ', j값 : ', j,')')

난생처음은 쉽습니다 (i값 :  0 , j값 :  0 )
난생처음은 쉽습니다 (i값 :  0 , j값 :  1 )
난생처음은 쉽습니다 (i값 :  1 , j값 :  0 )
난생처음은 쉽습니다 (i값 :  1 , j값 :  1 )
난생처음은 쉽습니다 (i값 :  2 , j값 :  0 )
난생처음은 쉽습니다 (i값 :  2 , j값 :  1 )

In [27]:
for i in range(2, 10) :
  for j in range(1, 10) :
    result = i * j
    print(i, 'X', j, '=', result)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81